.products
	.container:last-child
		padding-bottom: 0
	.container
		padding-bottom: 100px
	&-block
		min-height: 341px;
		margin-bottom: 35px
		text-align: center
		border: 2px solid $accent
		border-radius: 5px
		background-color: lighten($accent, 40%)

		&__img
			// margin-bottom: 10px
			width: 100%
		&__title
			padding-top: 10px
			padding-bottom: 10px
			padding-left: 10px
			background-color: lighten($accent, 30%)
			font-size: 18px
			text-align: left
			font-weight: 500
			line-height: 19.94px
			min-height: 30px
		&__subtitle
			height: 110px
			padding-top: 10px
			padding-left: 10px
			padding-right: 15px
			min-height: 66px !important
			// background-color: lighten($accent, 40%)
			font-size: 15px
			text-align: left

		&__buttons
			padding: 12px

			button
				padding: 10px 20px
	a
		display: flex !important
		justify-content: center !important
		text-decoration: none
