*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: PT_Sans-Web-Regular, sans-serif
	overflow-x: hidden
	opacity: 1
h1, h2, h3
	font-family: Roboto-Regular
	
.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

input, button
	&:focus
		outline: none








